<!doctype html>
<html>
<head>
  <link rel = "stylesheet" href ="/static/madlibs.css">
  <title>Give me....</title>
  <h1>Fill out the form below:</h1>
</head>
<body>

  <form action="/madlib">
    <div>
      <label>Enter a name:</label>
      <textarea name="person"></textarea>
    </div>
    <div>
      <label>Enter a color:</label>
      <textarea name="color"></textarea>
    </div>
    <div>
      <label>Enter a noun:</label>
      <textarea name="noun"></textarea>
    </div>
    <div>
      <label>Enter an adjective:</label>
      <textarea name="adjective"></textarea>
    </div>
    <div>
      <label>Enter another noun:</label>
      <textarea name="noun_1"></textarea>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</body>
</html>