<!doctype html>
<html>
<head>
  <title>Give me....</title>
  <h1>Please give something</h1>
</head>
<body>

  <form action="/madlib">
    <div>
      <label>Enter a name:</label>
      <textarea name="name"></textarea>
    </div>
    <div>
      <label>Enter a color:</label>
      <textarea name="color"></textarea>
    </div>
    <div>
      <label>Enter a noun:</label>
      <textarea name="noun"></textarea>
    </div>
    <div>
      <label>Enter an adjective:</label>
      <textarea name="adjective"></textarea>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</body>
</html>